# secrets
.env*
!.env.example

**/Secrets.swift

# Mac OS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/
dist/
.pytest_cache/

# Node.js
node_modules/
vscode-extension/out/
*.vsix

# Swift App
build/
DeriveData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
.swiftpm/
packages/
Package.resolved

xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcscmblueprint
